@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero section -->
<section class="hero-section">
    Updated every
    <span class="hero-section__timing-primary"> 10 seconds</span>
</section>
<main class="main-section">
    <section class="container">
        <!-- Progress bar-->
        <div class="progress-bar" style="width:52%"> </div>;
        <!-- Convert currency -->
        <ul class="currency-convert text-center">
            <li class="currency-convert__item currency-convert__item--active">
                <i class="fas fa-dollar-sign currency-convert__icon"></i>
                <span class="currency-convert__name">USD</span>
            </li>
            <li class="currency-convert__item">
                <i class="fas fa-euro-sign currency-convert__icon"></i>
                <span class="currency-convert__name">EUR</span>
            </li>
        </ul>
        <!-- Currency list -->
        <div class="row currencies">
            <article class="col-md-6 col-lg-3">
                <div class="currencies__item">
                    <div class="currency-thumbnail-content">
                        <img class="currency-thumbnail-content__img" src="~/images/icon/btc.png" alt="" data-adaptive-background="1" />
                    </div>
                    <span class="currencies__short-name">
                        BTC
                    </span>
                    <h3 class="currencies__name">Bitcoin</h3>
                    <h3 class="currencies__price">
                        USD $9,281.44
                    </h3>
                    <div class="currencies-info">
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (24h)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (7d)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                    </div>
                    <div class="currencies-price-btc">1.0 btc</div>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="currencies__item">
                    <div class="currency-thumbnail-content">
                        <img class="currency-thumbnail-content__img" src="~/images/icon/eth.png" alt="" data-adaptive-background="1" />
                    </div>
                    <span class="currencies__short-name">
                        ETH
                    </span>
                    <h3 class="currencies__name">Ethereum</h3>
                    <h3 class="currencies__price">
                        USD $9,281.44
                    </h3>
                    <div class="currencies-info">
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (24h)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (7d)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                    </div>
                    <div class="currencies-price-btc">1.0 btc</div>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="currencies__item">
                    <div class="currency-thumbnail-content">
                        <img class="currency-thumbnail-content__img" src="~/images/icon/xrp.png" alt="" data-adaptive-background="1"/>
                    </div>
                    <span class="currencies__short-name">
                        XRP
                    </span>
                    <h3 class="currencies__name">Ripple</h3>
                    <h3 class="currencies__price">
                        USD $9,281.44
                    </h3>
                    <div class="currencies-info">
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (24h)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (7d)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                    </div>
                    <div class="currencies-price-btc">1.0 btc</div>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="currencies__item">
                    <div class="currency-thumbnail-content">
                        <img class="currency-thumbnail-content__img" src="~/images/icon/bch.png" alt="" data-adaptive-background="1" />
                    </div>
                    <span class="currencies__short-name">
                        BCH
                    </span>
                    <h3 class="currencies__name">Bitcoin Cash</h3>
                    <h3 class="currencies__price">
                        USD $9,281.44
                    </h3>
                    <div class="currencies-info">
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (24h)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                        <div class="currencies-info__change-24h">
                            <p class="currencies-info__change-24h-title">Change (7d)</p>
                            <p class="currency-up">-0.28%</p>
                        </div>
                    </div>
                    <div class="currencies-price-btc">1.0 btc</div>
                </div>
            </article>
        </div>
    </section>
</main>